*{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient( rgb(209, 209, 209), rgb(159, 218, 209));
    background-repeat: repeat;
    height: 85px;
    font-family: Arial;
    
}

.Log{
    padding-top: 50px ;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 40px;
    

}

.nav_tabs{
    width: 300px;
    height:280px;
    margin: 50px auto;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
    
}

.nav_tabs label{
    width: 150px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: block;     
    color: #000;
    cursor: pointer;
    text-align: center;
  
}

.rd_tabs:checked ~ label{
    background-color:#57c2b4;
}

.rd_tabs{
    display: none;

}

.rd_tabs:checked ~ .content{
    display: block;
}

.content{
    
    
    display: none;
    position: absolute;
    height: 240px;
    width: 100%;
    left: 0;
    background-color: #57c2b4;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    
    
}


.form-group{
    height:60px ;
    
}

.form-group label{
    padding:5px ;

} 

/*
.content-form{
    width: 100%;
    height: 100%;
    display: relative    
    align-items: center;
    justify-content: center;
  
}
*/
.aliform{
    height: 100%;
    width: 100%;
    background-color: #57c2b4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}

.aliform a{
    font-size: 14px;
 
    padding: 0 0 0 15px;
}

a:hover {
    color:red;
    
   }

.aliform button{
    margin: 0px 10px 10px 45px;
    width: 100px;
    height: 30px;
    max-width: 80px;
    background: linear-gradient( rgb(36, 58, 131), rgb(22, 148, 129));
    text-align: center;
    font-size: 18px;
    color:#fff;
    transform: scale(1.0);
    border: none;
    border-radius: 5px;
}

.aliform button:hover{
    transform: scale(1.09);
    transition: .3s;
}

.aliform label{
    margin: 0;


}






















/*-------------------------Login--------------------------
----------------------------------------------------------

.login{
    height: 100%;
    display: flex;
    flex-direction: row;
  
}

.login-form{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}

.login-form-wrapper{
    padding: 10px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 210, 223) ;
}

.tt{
    margin:15px;
    text-align: center;
    font-size: 14px;
}

.login-form-wrapper button{
  ;
}


*/
