/*
  Glossary
  1 - Aluno
  2 - Dashboard
  3 - Login
*/

/* 1 - Aluno */
/* 2 - Dashboard */
.sidebar {
  background: #f8f8f8;
  height: 100vh;
}

.nomeAluno {
  padding: 40px 0 0 20px;
}

.itens-menu ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 0;
}

.itens-menu ul li {
  border-bottom: 1px solid #666;
  padding: 10px 0px;
}

.itens-menu ul li:hover {
  background-color: #f2f2f2;
}

.itens-menu ul li:hover a {
  color: #0d5eb4;
}

.itens-menu ul li a {
  padding-left: 10px;
  color: #000;
  text-decoration: none;
}

.box {
  border: 3px solid #ccc;
  border-radius: 5px;
}

/* 3 - Login */
a.active {
  background-color: #f2f2f2 !important;
}

.login-bg {
  background-color: #f8f8f8;
}

.login {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 25% !important;
  background: #fff;
  padding: 30px;
  box-shadow: 5px 10px 30px #888888;
  border-radius: 5%;
}
